<head>
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1 id="page-heading"><i class="fa fa-address-book"></i> My Contacts List</h1>
    <div>
    <ul>
        <%for (i of contact_list){%>
            <li>
            <!-- <li> -->
                <div class="details">
                <span id="name"><%=i.name%></span>
                <span id="phone"><%=i.phone%></span>
                </div>
                <div class="delete">
                    <!-- <a href="/delete-contact/<%=i.phone%>"> via string params -->
                    <a href="/delete-contact/?phone=<%=i.phone%>&name=<%=i.name%>">
                    <i class="fa fa-window-close"></i>
                    </a>
                </div>
            </li>
        <%}%>
    </ul>
    </div>
    <form action="/create-contact" method="POST">
        <input type="text" name="name" placeholder="enter name" required>
        <input type="number" name="phone" placeholder="enter phone" required>
        <button type="submit">Add contact</button>
    </form>
    <script type="text/javascript" src="/js/home.js"></script>
</body>